*{
	margin: 0px;
	padding: 0;
	/*default fong*/
	/*font-family: "Open Sans", sans-serif;*/
	font-family: 'Fredoka', sans-serif;
/*	font-family: 'Open Sans', sans-serif;
	font-family: 'Poppins', sans-serif;*/
	/*box-sizing*/
/*	font-size: 1rem;*/
	box-sizing: border-box;
	font-kerning: normal;
	font-weight: normal;
	font-stretch: expanded;
	text-align: center;
	font-size: 1.01rem;
}


#landing {
	/*backgorund image property allows us to add a background image from an online source or a local/relative source*/
	background-image: url(https://images.pexels.com/photos/6985119/pexels-photo-6985119.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
	/*stretches the image to cover the full area of the element*/
	background-size: cover;
	/*background-repeat:  no-repeat to disable the image repetetion especially if it can't cover the element*/
	background-repeat: no-repeat;
	/*background-position:  center*/
	background-position: center;
	/*overlay for */
}

#gmap_canvas {
	height: 80vh;
	width: 100%;
}

.fa-icons {
	padding: .5rem;
	font-size: 2rem;
/*	color: yellow;*/
}

html {
	scroll-behavior: smooth;
}